body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, sans-serif;
}

h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #EBA51A;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
}

.category {
    text-decoration: underline;
    font-style: italic;
}

nav ul {
    background-color: antiquewhite;
    border: 2px dashed #EB641A;
    border-radius: 8px;
    list-style-type: none;
    overflow: hidden;
    width: 96%;
}

nav li {
    float: left;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #EB881A;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

nav li a:hover {
    color: white;
    background-color: #EBA51A;
    text-decoration: underline;
    font-style: italic;
}

nav li {
    float: left;
    font-size: 1.1em;
    font-weight: bold;
}

p {
    font-family: Verdana, Geneva, sans-serif;
    /* This next line gives us some extras pacing within a paragraph*/
    line-height: 1.4;
}

ul {
    width: 100%;
}
 
li {
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.4;
}


.row {
    display: flex;
}   

.column {
    flex: 33%;
}


/* referenced digitalOcean tutorial for form element styling */
form{
    text-align: center;
    margin-left: 25%;
    margin-right:25%;
    border-radius: 2em;
}

 button,
fieldset, 
input,
legend,
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color:#EBA51A ;
  border: 3px solid;
  border-color: black;
  border-radius: 1em;
  padding: .5em;
  margin: .5em;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
  
}

textarea{
    text-align: center;
    font-size: Large;
    font-family: Verdana, Geneva, sans-serif;
    background-color: white;
    resize:none;
}

input[type="radio"],
input[type="checkbox"] {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
}

input[type="radio"]:checked {
    background-color: black;
}

input[type=button], input[type=submit] {
    background-color: white;
    font-size: Large;
}

input[type=button], input[type=submit]:hover{
    background-color: greenyellow;
    text-decoration: underline;
    font-style: italic;
    cursor:pointer;
}
/* } referenced w3 school tutorial */

select{
    background-color: white;
}


/* ADDAPTED FROM W3 Schools EXAMPLE*/
/* Page content */
.content {
  padding: 50px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 89.2%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 10px;
}

#navbar-placeholder {
  height: 0; /* Adjust the height to match your actual navbar height */
}