{% extends 'base.html' %}
<html>
    {% block content %}
        <h2>Cuong Chi Tran</h2>
        <p>Role: Fullstack developer</p>
        <p>E-mail: <a href="mailto:chicuong@carleton.edu">chicuong@carleton.edu</a></p>
        <p>Phone: <a href="tel:+12345678910">(+1) 234-567-8910</a></p>

        <h2>London Bettman</h2>
        <p>Role: frontend developer</p>
        <p>E-mail: <a href="mailto:bettmanl@carleton.edu">bettmanl@carleton.edu</a></p>
        <p>Phone: <a href="tel:+12345678910">(+1) 234-567-8910</a></p>

        <h2>Daniel Estrada</h2>
        <p>Role: backend devevloper and debugger</p>
        <p>E-mail: <a href="mailto:estradad2@carleton.edu">estradad2@carleton.edu</a></p>
        <p>Phone: <a href="tel:+12345678910">(+1) 234-567-8910</a></p>

        <h2>Marshall Johnson</h2>
        <p>Role: backend developer and debugger</p>
        <p>E-mail: <a href="mailto:johnsonm3@carleton.edu">johnsonm3@carleton.edu</a></p>
        <p>Phone: <a href="tel:+12345678910">(+1) 234-567-8910</a></p>


    {% endblock %}
</html>