{% extends 'base.html' %}
<html>
    {% block content %}
        <p>Welcome to our group's data analysis website for the U.S.'s cancer incidences.</p>
        <p>To use, simply input a state to view some basic information about cancer in the area.</p>
        <p>For a more in-depth introduction, please access the <a href="/about">About Us</a> page.</p>
        <form action = "stateinfo" method = "post">
            <fieldset>
                <legend>Year and Site form</legend>

                <p><label for="state">Select a state:</label>
                <select name="state_for_info_page" id="state_for_info_page">
                    <option value="Alabama" selected>Alabama</option>
                    {%for site in (['Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'])%}
                    <option value="{{site}}">{{site}}</option>
                    {%endfor%}
                </select>
                <br>
                <label for="top bracket"> </label>
                <br>
                <input type="submit" value="Submit">
                

            </fieldset>
        </form>
       
    </body>
    {% endblock %}
</html>