{% extends 'base.html' %}
<html>
    {% block content %}
        <h1>Welcome to the Simple Search!</h1>
        <p>Just select your desired targets to filter our data by, and press Submit. The number of matching cases will be shown right above the Filter Customization box.</p>
        <p>If you want to see more details, check out the Advanced Search Tab!.</p>
        <form action = "simpsearch" method = "post">
            <p>Number of matching cases: {{number_of_matches}}</p>
            <fieldset>
                <legend>Filter Customization</legend>
    
                <label for="state">Filter dataset for the state: </label>
                <select name="state" id="state">
                    <option value="" selected>Any State</option>
                    {% for state in (['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']) :%}
                    <option value="{{state}}">{{state}}</option>
                    {% endfor %}
                </select>
                <br>
                
                <label for="year">Filter dataset for the year: </label>
                <select name="year" id="year">
                    <option value="" selected>Any Year</option>
                    {% for year in (range(2000,2021)):%}
                    <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
                <br>
    
                <label for="site">Filter dataset for the leading site: </label>
                <select name="site" id="site">
                    <option value="" selected>Any Site</option>
                    {% for site in (['Brain and Other Nervous System', 'Breast', 'Cervix Uteri', 'Colon and Rectum', 'Corpus Uteri', 'Esophagus', 'Gallbladder', 'Kidney and Renal Pelvis', 'Larynx', 'Leukemias', 'Liver', 'Lung and Bronchus', 'Melanoma of the Skin', 'Myeloma', 'Non-Hodgkin Lymphoma', 'Oral Cavity and Pharynx', 'Ovary', 'Pancreas', 'Prostate', 'Stomach', 'Thyroid', 'Urinary Bladder invasive and in situ']):%}
                    <option value="{{site}}">{{site}}</option>
                    {% endfor %}
                </select>
                <br>
    
                <label for="sex">Filter dataset for the sex: </label>
                <select name="sex" id="sex">
                    <option value="" selected>Any Sex</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <br>
    
                <input type="submit" value="Submit">
            </fieldset> 
        </form>
    {% endblock %}
</html>