{% extends 'base.html' %}
<html>    
    {% block content %}
        <p>This is our information display page for the Cancer Incidences dataset navigation software: the W. A. T. C. H. - Web Analysis Tool (of) Cancer History.</p>
        <h2>Between 2000-2020, there were {{total_count}} cases of cancer in {{state_choice}}. That equates to {{total_count/20}} cases per year.</h2>
        <h3>In {{state_choice}}, the following cancer sites had the highest number of cases between the years 2000 and 2020:</h2>
        <div class="row">
            <div class="column">
                <h2 class="category">-Most prevalent cancer types</h2>
                <ul>
                    {% for entry in list_of_cancers :%}
                    <li class="filter_data">{{entry}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <p>
        
        </p>
        <p>The full version is expected to come out at the start of 2024!</p>
    </body>
    {% endblock %}
</html>