{% extends 'base.html' %}
<html>
    {% block content %}
        <h1>Greetings!</h1>
        <p>This is our information display page for my group's Cancer Incidences dataset navigation software: the W. A. T. C. H. - Web Analysis Tool (of) Cancer History.</p>
        <p>Below, you can see a portion of our dataset, filtered for those that match the {{field}} '{{data}}':</p>
        <p>
            <ul>
                {% for case in subset:%}
                <li>{{case}}</li>
                {% endfor %}
            </ul>
        </p>
        <p>I hope you enjoyed it! You are welcome to further explore the other ways to filter our data as well!</p>
    {% endblock %}
</html>