{% extends 'base.html' %}
<html>    
    {% block content %}
        <p>This is our information display page for the Cancer Incidences dataset navigation software: the W. A. T. C. H. - Web Analysis Tool (of) Cancer History.</p>
        <h2>In {{year_choice}}, the following states had the highest number of cases of {{site_choice}} cancer:</h2>
        <div class="row">
            <div class="column">
                <h2 class="category">-Case Counts - Female-</h2>
                <ul>
                    {% for entry in flist :%}
                    <li class="filter_data">{{entry}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <h2 class="category">-Case Counts - Male-</h2>
                <ul>
                    {% for entry in mlist :%}
                    <li class="filter_data">{{entry}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <p>
        
        </p>
        <p>I hope you enjoyed it! The full version is expected to come out at the start of 2024! I fully believe that you will enjoy it.</p>
    </body>
    {% endblock %}
</html>